<h1>
    Projects
</h1>
<div class="row">
    <!-- <div class="col-8 mx-auto">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newModal">Create Project</button>
    </div> -->
    <div class="col-8 mx-auto">
        <table class="table">
            <thead>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Date of Start</th>
                <th>Team Size</th>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td>{{project.projectID}}</td>
                    <td>{{project.projectName}}</td>
                    <td>{{project.dateOfStart}}</td>
                    <td>{{project.teamSize}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<form>
<div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header">
                <div class="modal-title">New Project</div>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="txtNewProjectID" class="col-sm-4 col-form-lable">Project ID</label>
                    <div class="col-sm-10">
                        <input type="number" id="txtNewProjectID" style="width: 100px;"class="form-control" placeholder="Project ID" name="ProjectID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtNewProjectName" class="col-sm-2 col-form-lable">Project Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtNewProjectName" style="width: 100px;"class="form-control" placeholder="Project Name" name="ProjectName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtNewDateOfStart" class="col-sm-2 col-form-lable">Date Of Start</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtNewDateOfStart" style="width: 150px;"class="form-control" placeholder="Date Of Start" name="DateOfStart">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtTeamSize" class="col-sm-2 col-form-lable">Team Size</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtTeamSize" style="width: 150px;"class="form-control" placeholder="Team Size" name="TeamSize">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>

</div>
</form>


<h3 class="text-center">New Project</h3>

<form>
    <div class="row">
        <div class="col-8 mx-auto">
    <div class="form-group row">
        <label for="txtNewProjectID" class="col-sm-3 col-form-lable">Project ID</label>
        <div class="col-sm-8">
            <input type="number" id="txtNewProjectID" style="width: 200px;"class="form-control" placeholder="Project ID" name="ProjectID" [(ngModel)]="newProject.projectID">
        </div>
    </div>
    <div class="form-group row">
        <label for="txtNewProjectName" class="col-sm-3 col-form-lable">Project Name</label>
        <div class="col-sm-8">
            <input type="text" id="txtNewProjectName" style="width: 200px;"class="form-control" placeholder="Project Name" name="ProjectName" [(ngModel)]="newProject.projectName">
        </div>
    </div>
    <div class="form-group row">
        <label for="txtNewDateOfStart" class="col-sm-3 col-form-lable">Date Of Start</label>
        <div class="col-sm-8">
            <input type="date" id="txtNewDateOfStart" style="width: 150px;"class="form-control" placeholder="Date Of Start" name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
        </div>
    </div>
    <div class="form-group row">
        <label for="txtTeamSize" class="col-sm-3 col-form-lable">Team Size</label>
        <div class="col-sm-8">
            <input type="number" id="txtTeamSize" style="width: 150px;"class="form-control" placeholder="Team Size" name="TeamSize" [(ngModel)]="newProject.teamSize">
        </div>
    </div>

    <div class="row">
        <button class="btn btn-warning" >Cancel</button>
        <button class="btn btn-success" (click)="onSaveClick()">Save</button>
    </div>
</div>
</div>
</form>